* {
    font-family: 'arial';
}
body { 
  height: 100%;
  width: 100%;
  background: linear-gradient(239deg,#f4efbf,#ffffff,#d1ffff);
  background-size: 180% 180%;
  animation: background-animation 15s ease infinite;
}
 .container{
   background-color: #ffff;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    transition: 2s ease-in;
 }
span{
    font-weight: 700;
    color: red;
}
i, label {
    color: #656a6e;
}
i {
    font-size: 12px;
    font-weight: 300;
}
label{
    font-weight: 400;
    font-size: 14px;
}
.grid-container{
    display: grid;
    grid-template-columns: 30% 60%;
    gap: 10px;
}
.btn{
    background-color:#22547c;
	border-radius: 3px;
	display:inline-block;
	cursor:pointer;
    color: #ffff;
    border: none;
    padding: 5px;
    margin-top: 10px;
}
.btn:hover{
    background-color: #1a3f5e
}

/* loader */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #22547c;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  /* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  .container {
    display: none;
  }
/* mobile screen adjustment */

@media only screen and (max-width: 600px){
    label {
        font-size: 12px;
    }
    .grid-container{
        grid-template-columns: auto;
        gap: 7px;
    }
    .container{
        width: 75%;
    }

}

/* background animation */
@keyframes background-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}